@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h1,
  h2,
  h3,
  p {
    @apply my-2 text-[#4D5053];
  }
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  background: #e5e7eb;
  display: grid;
  box-shadow: hsl(360, 67%, 44%);
  transition: transform 0.5s linear;
  transform: translate(-100%);
  z-index: 10;
}

.show-sidebar {
  transform: translate(0);
}

.list-sidebar {
  height: 50%;
  align-items: end;
}

.main-img {
  background-image: url("http://localhost:3000/src/assets/images/main.jpg");
  background-position: bottom;
}
